In [6]:
import pandas as pd
from io import StringIO
csv_data='''A,B,C,D
            1.0,2.0,3.0,4.0
            5.0,6.0,8.0
            0.0,11,12'''
df=pd.read_csv(StringIO(csv_data))
print(df)
print(df.tail())
print(df.isnull().sum())
print(df.values)

     A     B     C    D
0  1.0   2.0   3.0  4.0
1  5.0   6.0   8.0  NaN
2  0.0  11.0  12.0  NaN
     A     B     C    D
0  1.0   2.0   3.0  4.0
1  5.0   6.0   8.0  NaN
2  0.0  11.0  12.0  NaN
A    0
B    0
C    0
D    2
dtype: int64
[[ 1.  2.  3.  4.]
 [ 5.  6.  8. nan]
 [ 0. 11. 12. nan]]

In [12]:
d1=df.dropna() #drop the null values (delete rows)
print(d1)
d2=df.dropna(axis=1) # delete coloum
print(d2)

     A    B    C    D
0  1.0  2.0  3.0  4.0
     A     B     C
0  1.0   2.0   3.0
1  5.0   6.0   8.0
2  0.0  11.0  12.0

In [21]:
print(df.dropna(thresh=4))
print(df.isnull().sum())
print(df.dropna(how='all'))
print(df.dropna(thresh=2))
print(df.dropna(subset=['D']))

     A    B    C    D
0  1.0  2.0  3.0  4.0
A    0
B    0
C    0
D    2
dtype: int64
     A     B     C    D
0  1.0   2.0   3.0  4.0
1  5.0   6.0   8.0  NaN
2  0.0  11.0  12.0  NaN
     A     B     C    D
0  1.0   2.0   3.0  4.0
1  5.0   6.0   8.0  NaN
2  0.0  11.0  12.0  NaN
     A    B    C    D
0  1.0  2.0  3.0  4.0

In [26]:
from sklearn.preprocessing import Imputer
imr=Imputer(missing_values='NaN',strategy='mean',axis=1)
imr=imr.fit(df)
imputed_data=imr.transform(df.values)
print(imputed_data)

[[ 1.          2.          3.          4.        ]
 [ 5.          6.          8.          6.33333333]
 [ 0.         11.         12.          7.66666667]]

c:\users\user\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)